@use '/src/styles/global' as *;
@use '/src/styles/mixins' as *;
@use '/src/styles/typography' as *;
@use '/src/styles/variables' as *;

.layout{
    width: 100%;
   
   &-container{
    width: 100%;
    @include flex-center(row);
   }
}
.main{
    width: 100%;

}
main.hidden{
   
    opacity: 0; /* Dim background when Sidebar or Cart is open */
    pointer-events: none;
}