@use '/src/styles/global' as *;
@use '/src/styles/mixins' as *;
@use '/src/styles/typography' as *;
@use '/src/styles/variables' as *;


.header{
    width: 100%;
    background-color: $light-brown;

    &-container__mob{
        width: 100%;
        @include flex-center(row);
        justify-content: space-between;
        align-items: center;
       

        @include tablet{
            display: none;
        }
    }
    &-list__left{
        width: 150px;
        @include flex-center(row);
        list-style: none;
        padding: 1rem;
    }
    &-list__right{
        @extend .header-list__left;
       
    }
    &-logo{
        @include logo-text-mob;
        padding-left: 2rem;
        padding-right: 2rem;

        @include tablet{
            padding-left: 2rem;
            padding-right: 0;
            margin-left: 0;
        }
    }

    &-container{
        display: none;

        @include tablet{
            width: 100%;
            @include flex-center(row);
            justify-content: space-between;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    &-list{
        width: 20%;
        @include flex-center(row);
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
    }
    &-item{
        cursor: pointer;
    }
    &-cartwrap{
        width: 50px;
        position: relative;
    }
    
    &-quantity{
        position: absolute;
        top: -10px;
        left: 15px;
        background-color: $white-color;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        border-radius: 50%;
        cursor: pointer;
    }
}