@use '/src/styles/global' as *;
@use '/src/styles/mixins' as *;
@use '/src/styles/typography' as *;
@use '/src/styles/variables' as *;

.cartItem{
    width: 100%;
    background-color: $white-color;
    @include flex-center(row);
    @include box-shadow;
    margin-top: 1rem;
    border: 1px solid $Arewa-brown;
    border-radius: 5px;
    @include tablet{
        width: 70%;
    }

    &-box{
        width: 45%;
        padding: 0.5rem;
    }
    &-image{
        width: 100%;
        border-radius: 5px;
    }
    &-content{
        width: 45%;
        padding: 0.5rem;
        @include flex-center (column);
    }
    &-minusBtn{
        // width: 20%;
        padding: 5px 25px 5px 25px;
        background-color: $white-color;
        border: 2px solid $Arewa-brown;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 0;
        
    }
    &-plusBtn{
        @extend .cartItem-minusBtn;
        margin-left: 1rem;
    }
    &-text__frame{
        width: 100%;
    }
    &-container{
        width: 100%;
        @include flex-center(column);
        justify-content: space-between;
        align-items: center;

        @include tablet{
            @include flex-center(row);
        }
    }
    &-remove{
        width: 30%;
        margin-left: 2rem;  
    }
    &-remove__btn{
        background: transparent;
        border: none;
        cursor: pointer;
        transition: ease-in 0.5s;
        &:hover{
            border-bottom: 2px solid $Arewa-brown;
        }
    }
    &-btn__wrap{
        width: 60%;
        @include flex-center(row);
        align-items: center;
    }
}
